nonebot2[fastapi,httpx,websockets]>=2.4,<3.0
nonebot-adapter-onebot>=2.4,<3.0
openai>=2.30,<3.0
python-dotenv>=1.0,<2.0

nonebot_plugin_boardgame>=0.4,<1.0
nonebot-plugin-hitokoto>=0.2,<1.0
nonebot-plugin-wife>=0.0.3,<1.0
nonebot-plugin-petpet>=0.3.21,<1.0
nonebot-plugin-memes>=0.8,<1.0
